@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
header{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0px 7.5vw;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    z-index: 2;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.logo{
    margin-right: 20px;
}

.left-side ul svg{
    width: 10px;
    height: 12px;
    padding-left: 2px;
}

.left-side li:hover{
    color: blue;
}

.left-side ul{
    list-style: none;
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.left-side li{
    padding: 0px 15px;
    cursor: pointer;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}


#login{
    align-items: center;
    padding: 0px 23px;
}

#get-free{
    color: white;
    background-color: #0a67f2;
    padding: 16px 23px;
}

section{
    display: flex;
    align-items: center;
    height: 85vh;
    background: linear-gradient(to right, #6043a8, #e04fb3);
    position: relative;
}

.text{
    width: 35vw;
    margin: 0px 4vw 0px 13vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.image img{
    width: 41vw;
    z-index: 1;
    margin-top: 130px;
    margin-right: 8vw;
    position: relative;
}

.cutout{
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

.title{
    font-size: 44px;
    font-weight: 500;
}

.subtitle{
    font-size: large;
}

.inputs{
    padding: 30px 0px;
}

#email-1{
    width: 300px;
    height: 50px;
    border: 0px solid white;
    border-radius: 5px;
    margin-right: 20px;
}

#email-1::placeholder{
    padding-left: 20px;
    font-size: 15px;
}

.text button{
    height: 50px;
    background-color: #0a67f2;
    border-radius: 5px;
    border: 0px;
    padding: 0px 20px;
    color: white;
    font-size: 15px;
}

.watch-video a{
    color: rgb(215, 212, 212);
}

.watch-video svg{
    color:  rgb(215, 212, 212);
}

.watch-video a:hover{
    color: white;
}

.watch-video svg:hover{
    color:  white;
    padding: -0px 5px;
}